.toolbar{
  margin: 3% 0;
}
/* card - material */
.mat-card-title{
 color:rgb(42, 165, 124)   
}
.deaths{
    color:red
}
.active_cases{
    color:green
}
.date{
    color:blue
}
.card{
  display: inline-block;
  height: 450px;
  width: 300px;
  padding: 8px; 
  margin: 10px; 
  text-align: center;
}
.img{
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.example-margin {
  margin: 0 84%;
}
